<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.snow.tomcat.demo.dao.UserDao">
    <resultMap id="getMap" type="org.snow.tomcat.demo.entity.User">
    </resultMap>

    <select id="queryById" parameterType="string" resultMap="getMap">

        select * from t_user where id = #{id}
    </select>


    <select id="queryBitById" parameterType="string" resultType="User">
        select user_name userName, pass_word passWord from t_user where id = #{id}

    </select>

    <select id="selectAll" resultMap="getMap">
        SELECT * FROM  t_user
    </select>
</mapper>